
.detailContainer{
      width: 100%;
      box-sizing: border-box;
}
.detailCard{
      width: 100%;
      /* border: 1px solid red; */
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 1rem;
}
p{
      font-size: 14px;
      line-height: 23px;
      font-size: 400;
}